In [27]:
import pandas as pd
#pip install apyori
from apyori import apriori

In [29]:
dados = pd.read_csv('dados/transacoes.txt', header=None)
dados

         0        1        2
0  Cerveja    Pizza  Sorvete
1    Pizza  Sorvete      NaN
2  Cerveja    Pizza      NaN
3  Cerveja    Pizza  Sorvete
4  Cerveja    Pizza      NaN
5    Pizza      NaN      NaN

In [30]:
transacoes = []
for i in range(0,6):
    transacoes.append([str(dados.values[i][j]) for j in range(0,3)])

In [31]:
transacoes

[['Cerveja', 'Pizza', 'Sorvete'],
 ['Pizza', 'Sorvete', 'nan'],
 ['Cerveja', 'Pizza', 'nan'],
 ['Cerveja', 'Pizza', 'Sorvete'],
 ['Cerveja', 'Pizza', 'nan'],
 ['Pizza', 'nan', 'nan']]

In [32]:
regras = apriori(transacoes, min_support=0.5, min_confidence=0.5)

In [33]:
resultados = list(regras)

In [34]:
resultados2 = [list(x) for x in resultados]

In [35]:
resultados3 = []

for j in range(0,7):
    resultados3.append(list(x) for x in resultados2[j][2])

In [36]:
resultados3

[<generator object <genexpr> at 0x000001E9613B6258>,
 <generator object <genexpr> at 0x000001E9613B6AF0>,
 <generator object <genexpr> at 0x000001E9613B69E8>,
 <generator object <genexpr> at 0x000001E9613B6EB8>,
 <generator object <genexpr> at 0x000001E9613B6F10>,
 <generator object <genexpr> at 0x000001E9613B6F68>,
 <generator object <genexpr> at 0x000001E9613B6FC0>]